.cvForm {
  display: grid;
  place-content: center;
}

.cvForm > form {
  padding: 1rem 2rem;
  border: 1px solid #888;
  max-width: 700px;
}

.cvForm > form > * + * {
  border-top: 2px solid #8884;
}
