.App {
  text-align: center;
  display: grid;
  grid-template: auto 1fr auto / auto auto;
  grid-template-areas:
    'header header'
    'cvform cvpreview'
    'footer footer';
  place-items: center;
  gap: 3rem;
}

.header {
  grid-area: header;
}
.cvForm {
  grid-area: cvform;
}

.previewPrint {
  grid-area: cvpreview;
  display: grid;
  gap: 1rem;
}
.footer {
  grid-area: footer;
}

button {
  padding: 0.25rem;
  color: white;
  background-color: black;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.25s ease;
}
button:hover {
  background-color: rgb(61, 61, 61);
}

button:active {
  background-color: rgb(34, 34, 34);
}
